<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <a href="/trails"><li class="menu-text">TRAIL TRACKS</li></a>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu style="max-width: 300px;">
          <% if user_signed_in? %>
          <li>
            <span> <%= image_tag(current_user.profile_photo, class: "avatar") %></span>
            <a href="#">Profile</a>
            <ul class="menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              </li>
              <% end %>
            </ul>
            <li>
            <% if user_signed_in? %>
              <a href="#">Trails</a>
            <ul class="menu">
              <li><%= link_to "Add Trail", new_trail_path %></li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% flash.each do |name, msg| %>
     <% if msg.is_a?(String) %>
       <%= content_tag :div, msg, :class => "flash_#{name}" %>
     <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
